<div class="container">
     <div class="col-md-12 margin-top">
       <%= image_tag "main.jpg", class: 'article-image img-responsive' %>
       <div class="textfield">
         <%= render 'form', article: @article %>
       </div>
      </div>
</div>
