// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-top {
 margin-top: 5%;
}

.title {
    font-size: 20px;
    display: inline;
    color: #3e4b58;
}

.article-image {
    width: 1170px;
    height: 350px;
    object-fit: cover;
}

.index-img {
    max-height: 150px;
    width: 100%;
    object-fit: cover;
}

.textfield {
    margin-top: 15px;
}

.edit {
    margin: 10px 10px;
}

.relative {
  position: relative;
  i {
     position: absolute;
     top: 45%;
     left: 48%;
     font-size: 65px;
     color: white;
  }
}
#article_image {
     display: none;
  }


#cover-image {
    cursor: pointer;
}
